# set character encoding
AddDefaultCharset utf-8
php_value default_charset utf-8

# read index.php first file 
DirectoryIndex index.php

# enable mod rewrite
RewriteEngine on

# hide php file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# show error page
ErrorDocument 404 /err404